<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= img_tag "img_carousel", alt: "Billede 1", class: "d-block w-100" %>
      <!--<img src="img_carosel_1.jpg" alt="Billede 1" class="d-block w-100">-->
    </div>
    <div class="carousel-item">
      <img src="img_carosel_2.jpg" alt="Billede 2" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="img_carosel_3.jpg" alt="Billede 3" class="d-block w-100">
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<hr class="divider">

<div class="row">
  <div class="col-md-12">
    <h2>Elsker du at danse?</h2>
    <p class="lead">Så er Campus Dance Academy på Campus Vejle Sportscollege noget for dig!<br><br>Campus Dance Academy er for dig, der ønsker at udvikle dit talent samtidig med, at du tager en ungdomsuddannelse. Du får en varieret skoledag, hvor dansen er en integreret del af skoleskemaet. Der vil være en niveauprøve, men vigtigst af alt er din lyst til at danse.</p>
    
  </div>
</div>

<hr class="divider">

<div class="row">
  <div class="col-md-7">
    <h2>Stilarter <span class="text-muted">og undervisning</span></h2>
    <p class="lead">På Campus Dance Academy undervises du i fem hovedgenre: </p>
      <ul class="lead" style="list-style-type: none; padding-left: 0%;">
        <li>Moderne</li>
        <li>klassisk ballet</li>
        <li>hiphop</li>
        <li>jazz</li>
        <li>international folkedans</li>
      </ul>
      <p class="lead">Moderne dans, er vores hovedgenre og undervises mest. Tilhørende hver genre er der mange understilarter. Danselærer, hvor meget, og hvad du kommer til at danse kan du finde her...</p>  
        <!-- Hver uge har du fire klasser med danseundervisning, og én klasse med fysisk træning. Læs mere om stilarter og undervisning... -->
        <!-- Indenfor moderne er der mange forskellige tilgange og teknikker at mestre, som afhænger af hvem din underviser er... -->
  </div>
  <div class="col-md-5">
    <img src="img4.jpg" class="img-fluid" alt="Billede 4">  
  </div>
</div>

<hr class="divider">

<div class="row">
  <div class="col-md-7 order-md-2">
    <h2>Vores<span class="text-muted"> mål...</span></h2>
    <p class="lead">Er at gøre dig bedre til at danse, og udtrykke dig gennem det instrument som vi alle har, nemlig kroppen. Dertil er vores mål at få så mange så muligt ind på en vidergående danseuddannelse på bachelor niveau. Derfor vil du opleve at vi udfordre dig så du finder ud af om dansen "bare" skal være en stor del af dit liv, eller om du ønsker at blive professionel danser.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="img5.jpg" class="img-fluid" alt="Billede 5">
  </div>
</div>

<hr class="divider">

<div class="row">
  <div class="col-md-7">
    <h2>Tilmeld dig i dag! <span class="text-muted">-Og det praktiske</span></h2>
    <p class="lead">Det er let at tilmelde dig, men der er en række ting du bør vide først. Du skal nemlig både være tilmeldt Campus Vejle Sportscollege, ha' at vide hvad det koster, og måske endda flytte hjemmefra! Mere om det her...</p>
  </div>
  <div class="col-md-5">
    <img src="img6.jpg" class="img-fluid" alt="Billede 6">
  </div>
</div>

<hr class="divider">